.user-avatar {
    position: relative;
    display: inline-block;
}

.avatar-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.avatar-wrapper:hover .avatar {
    transform: scale(1.1);
}

.toggle-icon {
    font-size: 0.75rem;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.toggle-icon div:hover {
    color: #000;
}

.dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.5rem;
    z-index: 1000;
    width: 200px;
    /* Set a width for the dropdown */
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: #333;
    transition: background 0.2s ease-in-out;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}